.black {
    color: #031b4e
}

.grey {
    color: rgba(3,27,78,.7)
}

.blue {
    color: #0069ff
}

.title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px
}

/* header */
.navbar-fixed-top {
    background-color: white;
}

#header-top {
    padding: 10px 20px 5px 20px;
    font-size: 12px;
    font-weight: bold;
}

#header-top a {
    color: #5b6987;
    padding-left: 13px;
}

.container-header-top {
    border-bottom: 1px solid #F3F5F9;
}

.header-top-left span {
    color: #031b4e;
    background-color: #00d7d2;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 10px;
}

.header-top-left a:hover {
    color: #0069ff;
    text-decoration: none;
}

.header-top-right a:hover {
    text-decoration: none;
    color: #5b6987
}

.logo-blue img {
    width: 100%;
    object-fit: contain;
    padding: 20px 20px;
}

#header-bottom {
    position: relative;
}

.nav-header-bottom {
    margin-top: 27px
}

.nav-header-bottom a {
    font-size: 15px;
    font-weight: bold;
    color: rgba(3,27,78,.7);
    margin-right: 25px;
}

.nav-header-bottom a:hover {
    color: #0069ff;
    text-decoration: none;
}

.sign-up {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sign-up a {
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;
    padding: 13px 19px 11px;
    margin-right: 21px;
}

.sign-up a:hover {
    text-decoration: none;
    background-color: #0069ff;
    color: white;
    transition: 0.5s;

}

.nav-dropdown::after {
    content: '∨';
    color: #5b6987;
    padding-left: 5px;
}
/* /header */
/* jumbotron */
.jumbotron {
    height: 100%;
    background-image: url(img/bg-jumbotron.jpg);
    background-size: cover;
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        background-image: none;
        background-color:rgb(2, 72, 255);
        padding-top: 60px;

    }
}

@media screen and (min-width: 1200px) {
    .jumbotron {
        padding-top: 180px;
    }
}

.navbar-brand {
    padding: 0px;
    padding-left: 35px;
}

#navbar-blue {
    background-color: transparent;
    border-color: transparent;
}

.navbar-toggle {
    display: inline;
    float: right;
    position: absolute;
    right: 0;
}

#button-navbar {
    border-color: transparent;
}

#button-navbar:hover {
    background-color: transparent;
}

#icon-1, #icon-2, #icon-3 {
    background-color: rgb(129, 164, 255);
}

.logo-white {
    height: 40px;
    width: 200px;
}

.jumbotron-left {
    margin-top: 120px;
}

.row-jumbotron-left h1 {
    color: white;
    font-weight: bold;
}

.row-jumbotron-left p {
    color: rgb(204, 218, 255);
    font-size: 27px;
}

.form-box {
    background-color: white;
    padding: 32px;
    border-radius: 3px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.form-box .row h2 {
    font-weight: bold;
    font-size: 30px;
    color: #031b4e;
    margin-bottom: 30px;
}

.form-control {
    box-shadow: none;
    border-color: rgb(241, 241, 241);
    height: 48px;
}

.form-control::placeholder {
    color: rgba(3,27,78,.7);
}

.form-control:focus {
    box-shadow: transparent;
    border-color: #0069ff;
}

.btn-sign {
    font-size: 18px;
    font-weight: bold;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    border-radius: 3px;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
}

.btn-sign a {
    color: #031b4e
}

.btn-sign:hover {
    background-color: #d5e4f7;
    text-decoration: none;
    border: 1px solid rgba(0,105,255,.2);
}

.btn-sign a:hover {
    text-decoration: none;
}

.btn-account {
    background-color: #0069ff;
    border: none;
    color: white;
    width: 100%;
    height: 48px;
    transition: 0.5s;
}

.btn-account:hover {
    background-color: #1633ff;
    border: none;
    color: white;
}

.divider-form {
    margin-top: 20px;
}

.divider {
    position: relative;
    background-color: white;
}

.divider::before,
.divider::after {
    content: '';
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 25%;
    background: #e5e8ed;
}

.divider::after {
    right: 0;
    margin-right: 16px;
}

.divider::before {
    margin-left: 16px;
}

.google-logo {
    height: 15px;
    margin-bottom: 5px;
    padding-right: 5px;
}

.fa-github {
    height: 15px;
    color: grey;
}

@media screen and (max-width: 767px) {
    .form-button-left {
        margin-bottom: 30px;
    }

}

.github-button,
.google-button {

}

.github-button:hover,
.google-button:hover {

}

.form-buttons {
    margin-bottom: 30px;
}

.terms {
    margin-top: 40px;
}

.terms p {
    font-size: 13px;
}

/* brands-section */
.brands-section {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #f3f5f9
}

.brand-container {
    margin-bottom: 16px;
}

.brand img {
    max-width: 100%;
    object-fit: contain;
}

.brands-section h2 {
    font-size: 14px;
    font-weight: bold;
    color: rgb(147, 158, 180);
    margin-bottom: 16px;
}

.brands-section a {
    color: #0069ff;
    font-size: 16px;
    font-weight: bold;
}

.brands-section a:hover {
    color: #005fe6;
    text-decoration: none;
}
/* /brands-section */
/* features */
.feature-section {
    padding-top: 65px;
    padding-bottom: 65px;
}

.main-features {
    margin-top: 80px;
}

.visual-features {
    padding-right: 100px;
    padding-left: 100px;
}

.menu-features ul {
    list-style: none;
    padding: 0px;
}

.menu-features li {
    padding: 17px;
    font-size: 18px;
    border-left: 2px solid #e5e8ed;
    padding: 17px 10px 17px 30px;
}

#focus {
    border-left: 2px solid #0069ff;
}

.menu-features a:hover {
    color: #031b4e;
    text-decoration: none;
}

.main-features .grey {
    font-size: 16px;
}

.main-features .black {
    font-size: 18px;
    font-weight: bold;
}

.feature {
    padding: 25px 50px;
}

@media screen and (max-width: 767px) {
    .feature {
        padding: 0px;
        margin-top: 50px;
    }
}

.icon-features {
    color: #0069ff;
    font-size: 35px;
}
/* /features */
/* gallery */
.gallery {
    background-color: #f3f5f9;
    position:relative;
    padding: 60px 0px;
}

.gallery-top {
    margin-bottom: 65px;
}

.gallery-slide img {
    width: 100%;
}

.row > div {
    display: inline;
}

.slide-right {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 30px;
}

.slide-left {
    position: absolute;
    top: 50%;
    font-size: 30px;
    left: 0px
}

.slide-left i {
    color: rgb(171, 180, 198);
}

.slide-right a:hover {
    color: #0069ff
}

.gallery-bottom p {
    margin-top: 32px;
    font-size: 16px;
}

.gallery-bottom a {
    font-size: 10px;
}

.far.fa-circle:hover {
    background-color: rgba(0,105,255,.2);
    border-radius: 50%
}
/* /gallery */
/* info */
.info-title {
    margin: 60px 0px;
}

.box-info {
    padding: 0px 48px;
    margin-bottom: 60px;
}

.box-info i {
    font-size: 40px;
    color: #005fe6
}

.box-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-info p {
    font-size: 16px;
}

.box-info a {
    font-size: 16px;
    font-weight:bold;
}

.box-info a:hover {
    color: #005fe6;
    text-decoration: none
}
/* /info */
/* world-table */
.world-table {
    background-color: #031b4e;
    background-image: url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
    background-size: cover;
}

.world-table .row {
    border-bottom: 1px solid rgb(53, 73, 113);
    padding-top: 11px;
}

.world-table .last-row {
    border-bottom: none;
}

.speedtest {
    padding-top: 50px;
}

.table-code p {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.table-city p {
    color: rgb(154, 164, 184);
    font-size: 12px;
}

.table-test a {
    font-weight: bold;
    color: #00d7d2;
    font-size: 12px;
}

.table-test a:hover {
    color: #0069ff;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .world-table .row {
        padding: 20px 0px;
    }

    .table-test a {
        font-size: 10px;
    }

    .table-code p {
        font-size: 10px;
    }

    .table-city p {
        font-size: 10px;
    }
}

.table-title h2 {
    padding-top: 60px;
    color: white;
    font-weight: bold;
    padding-bottom: 40px;
    font-size: 34px;
}

.complete-table {
    margin-bottom: 60px;
}
/* /world-table */
/* feedback */
.feedback-gallery {
    background-color: #f3f5f9;
}

.feedback-top {
    margin-top: 60px;
}

.feedback-title {
    margin-bottom: 20px;
}

.feedback-subtitle {
    margin-bottom: 20px;
}

.teams-link {
    color: #0069ff;
    text-decoration: underline;
}

.teams-link:hover {
    color: #005fe6;
}

.feedback {
    background-color: white;
    padding-bottom: 60px;
    margin-bottom: 20px;
}

.feedback img {
    max-width: 25%;
    padding: 30px 0px;
}

.feedback-comment {
    font-size: 24px;
    font-weight: lighter;
    color: rgba(3,27,78,.7)
}

.feedback-name {
    font-size: 16px;
}

.feedback-position {
    font-size: 12px;
}

.feedback-link {
    margin-top: 20px;
}

.read {
    font-size: 17px;
    color: #0069ff;
}

.read:hover {
    color: #005fe6;
    text-decoration: none;
}

.feedback-bottom {
    margin-bottom: 60px;
}

.feedback-bottom a {
    font-size: 10px;
}
/* /feedback */
/* pre-footer */
.pre-footer {
    background-image: url(img/bg-jumbotron.jpg);
    background-size: auto;
}

.pre-footer h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.pre-footer-title {
    margin-top: 60px;
}

.pre-footer-button {
    margin-top: 40px;
    margin-bottom: 60px;
}

.pre-footer-button a {
    color: #005fe6;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 32px;
    border-radius: 5px;
    transition: 0.5s
}

.pre-footer-button a:hover {
    background-color: hsla(0,0%,100%,.8);
    text-decoration: none;
    color: #0069ff;
}
/* /prefooter */
/* footer */
footer {
    background-color: #010e28;
}

.footer-link-container {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(52, 62, 83);
}

footer h3 {
    color: white;
    font-size: 14px;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    line-height: 28px;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    padding-bottom: 60px;
}

.footer-bottom img {
    max-width: 100px;
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 70px;
}

.footer-bottom i {
    font-size: 18px;
    line-height: 70px;
}
